@import url("styles/chart.css");

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --cor-fundo: #27374D;
    --cor-input: #526D82;
    --cor-fonte-claro: #DDE6ED;
    --cor-fonte-escuro: #03001C;
    --cor-botao: #4F4557;
    --cor-negativo: #DB005B;
    --cor-positivo: #A0D8B3;
    --cor-input-bruto: #9DB2BF;
}

body {
    background: var(--cor-fundo);
    min-height: 100vh;
    font-family: var(--fonte-principal);
}