.chart_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 .5rem;
    min-height: 100vh;
}

.chart, .inputs {
    width: 50%;
}

.chart_sobra {
    color: var(--cor-fonte-claro);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.input_campo {
    display: grid;
    grid-template-areas:
    "nome nome porcentagem porcentagem"
    "cor escrita escrita deletar";
    grid-template-columns: 32px 12rem 32px 32px;
    grid-template-rows: 32px 32px;
    margin-bottom: 16px;
}

.input_etiqueta-bruto {
    color: var(--cor-fonte-claro);
    font-size: 24px;
    font-weight: 500;
    grid-area: nome;
    text-align: center;
}

.input_campo-bruto {
    display: grid;
    grid-template-areas: 
    "nome"
    "escrita";
    grid-template-columns: 18rem;
    grid-template-rows: 32px 32px;
    margin-bottom: 1rem;
}

.campo_bruto {
    background: var(--cor-input-bruto);
    border-radius: .5rem;
    font-weight: 700;
}

.input_etiqueta {
    color: var(--cor-fonte-claro);
    font-size: 24px;
    grid-area: nome;
}

.porcentagem {
    color: var(--cor-fonte-claro);
    font-size: 20px;
    grid-area: porcentagem;
}

.input_cor {
    border: none;
    border-radius: 4px;
    grid-area: cor;
    height: 32px;
    padding: 0;
    width: 32px;
}
.input_cor:focus {
    outline: none;
}

.campo_bruto, .campo_valores {
    border: none;
    color: var(--cor-fonte-escuro);
    font-family: var(--fonte-principal);
    grid-area: escrita;
    margin: 0;
    padding: .25rem .5rem;
}

.campo_valores {
    background: var(--cor-input);
}
.campo_valores:focus {
    outline: none;
}

.deletar-campo {
    border: none;
    border-radius: 0 4px 4px 0;
    grid-area: deletar;
}

.botao_novo-campo, .botao_adicionar-campo {
    background: var(--cor-botao);
    border: none;
    height: 32px;
    padding: 0;
    width: 32px;
}
.botao_novo-campo {
    border-radius: .25rem;
}

.novo-campo {
    display: none;
    grid-template-areas:
    "titulo titulo"
    "input botao";
    grid-template-columns: 16rem 32px;
    grid-template-rows: 32px 32px;
}

.novo-campo_titulo {
    color: var(--cor-fonte-claro);
    font-size: 24px;
    grid-area: titulo;
}

.novo-campo_nome {
    background: var(--cor-input);
    border: none;
    border-radius: .25rem 0 0 .25rem;
    color: var(--cor-fonte-escuro);
    font-family: var(--fonte-principal);
    font-weight: 600;
    grid-area: input;
    padding: .25rem .5rem;
}
.novo-campo_nome:focus {
    outline: none;
}

.botao_adicionar-campo {
    border-radius: 0 .25rem .25rem 0;
    grid-area: botao;
}

@media screen and (orientation: portrait) {
    .chart_container {
        display: block;
        margin-top: 2rem;
    }

    .chart, .inputs {
        width: 100%;
    }

    .input_campo-bruto {
        grid-template-columns: 100%;
    }

    .campo_bruto {
        margin: 0 auto;
        width: calc(100% - 80px);
    }

    .input_campo {
    grid-template-columns: 32px calc(100vw - 116px) 32px 32px;
        text-align: center;
    }
}